<body class="backgroundimage">
    <h2>Jahi Stewart</h2>
    <div>
        <a href="mailto:jahikstewart@lewisu.edu">This is my email</a>
    </div>
    <section>
        <img src="\img\profile.jpg" width= 25%  height= auto alt="Profile">
        <div>
            <h3>Introduction</h3>
            <p class="ex1">
                &emsp; I like playing video games and swimming. I also work at the YMCA. Sometimes I make programs in my free time. I have three siblings and I am the eldest.
            </p>
            <p class="ex1">
                &emsp; I am majoring computer science and haven't come up with a minor yet. I chose this major because programming is what I good at.
            </p>
        </div>
        <div>
            <h3>What I Hope to Learn in this Course</h3>
            <ul>
                <li>Project Management & Scaled Agile</li>
                <li>Security</li>
                <li>Software Architecture</li>
            </ul>
        </div>
        <div>
            <h3>My Favorite Hobby</h3>
            <p class="ex1">
                &emsp;  My favorite hobby is reading books. I love books. They are the yeast of thoughts and minds.
            </p>
        </div>
        <div>
            <h3>Greatest Innovation</h3>
            <ul style="list-style-type:square">
                <li><a href="https://home.cern/science/computing/birth-web/short-history-web#:~:text=Tim%20Berners%2DLee%2C%20a%20British,and%20institutes%20around%20the%20world.u">The cellphone</a></li>
                <li><a href="https://www.sciencemuseum.org.uk/objects-and-stories/invention-mobile-phones#:~:text=Martin%20Cooper%2C%20the%20engineer%20from,for%20wealthy%20financiers%20and%20entrepreneurs.">The web</a></li>
                <li><a href="https://www.intel.com/pressroom/kits/upcrc/ParallelComputing_backgrounder.pdf">Parallel processing</a></li>
            </ul>        
        </div>
        <div>
            <h3>Fun Fact</h3>
            <p class="ex1">
                &emsp; I have a gray cat named Oscar.
            </p>
        </div>
    </section>
</body>